@model ShopWebMVC.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h2>Category</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            <img class="imgs" src="~/cateImg/@Model.Image" height="250" >
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created_At)
        </dt>
        <dd>
            @String.Format("{0:dd/MM/yyyy}",Model.Created_At)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-warning mx-2">Edit</a> |
    <a asp-action="Index" class = "btn btn-outline-primary">Back to List</a>
</div>
